.wrapper {
  margin: 20px;

  &__recipe {

  

    &--title,
    &--minutes {
      font-family: 'Open Sans', sans-serif;
      font-size:rem(12);
      color:  #F0836E;
    }

    &--image {
      width: rem(100);
    }
  }

}